HOBOM_GRPC_ADDR=dev-for-hobom-backend:50051
HOBOM_GRPC_API_KEY=your-grpc-api-key-here
HOBOM_KAFKA_BROKER=kafka:9092
HOBOM_REDIS_ADDR=redis:6379
HOBOM_SPACE_GRPC_ADDR=dev-hobom-space-backend:50052
HOBOM_LLM_GRPC_ADDR=dev-hobom-llm-service-backend:50052
HOBOM_LLM_GRPC_API_KEY=your-llm-grpc-api-key-here
