version: "3.8"

networks:
  hobom-net:
    external: true

services:
  redis:
    image: redis:7
    container_name: hobom-redis
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - redis-data:/data
    restart: unless-stopped
    networks:
      - hobom-net
    ports:
      - "6379:6379"

volumes:
  redis-data:
